/* Site Countdown Part
=====================================================================*/
/*.countdown{
  color: #fff;
  /*margin-left: 200px;
  width: 100%;
}
.countdown_row{
  display: block;
  margin-left: 5px;
  overflow: hidden;
  width: 100%;
}
.countdown_section{
  background: none repeat scroll 0 0 transparent;
  border: 2px solid #ddd;
  border-radius: 100%;
  display: block;
  float: left;
  font-size: 20px;
  margin: 15px 30px auto;
  padding: 30px 12px;
  text-align: center;
  width: 125px;
}
.countdown_amount{
  font-size: 24px;
  font-weight: 800;
}*/
.flagship{
  color: white;
}
.image-center{
  display:initial;
}


.text h2 {
  color: #E5E5E5;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

.counter {
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  color: #E5E5E5;
  font-size: 50px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}